<div class="container-fluid pt-sans-font my-page">
    <div class="row" id="events">
        <div class="col-md-3 my-schedule-page-title page-title-text lang-schedule-page-title text-uppercase"></div>
        <div class="d-none d-md-flex col-md-9 my-arrows my-arrows-blue"></div>
    </div>
    <div class="row" id="myAboutFirstRow">
        <div class="d-none d-sm-block col-sm-3 my-wave">
            <img src="../images/wave-blue.svg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-geo-hint lang-events-geo-hint text-uppercase"></div>
        <div class="d-flex col-12 col-md-9 events-geo-name lang-events-geo-text text-uppercase"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-time-hint lang-events-time-hint text-uppercase"></div>
        <div class="col-12 col-md-5 events-time-text text-uppercase d-flex">
            <a class="month-scroll"></a>
            <span>|</span>
            <a class="month-scroll month-scroll-active"></a>
            <span>|</span>
            <a class="month-scroll"></a>
            <span>|</span>
            <a class="month-scroll"></a>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-project-hint lang-events-project-hint text-uppercase"></div>
        <div class="col-12 col-md-8 events-project lang-events-project-text">
            <p class="d-flex events-project-title"></p><p class="events-project-description"></p>
        </div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-events-hint lang-events-events-hint text-uppercase"></div>
        <div class="col-12 col-md-9 events-events-text"></div>
    </div>
    <div class="row">
        <div class="d-none d-md-block col-md-3 events-hint events-create-event-hint lang-events-create-event-hint text-uppercase"></div>
        <div class="col-12 col-md-9 events-create-event-button lang-events-create-event-button"></div>
    </div>
</div>