@import url('http://fonts.cdnfonts.com/css/myriad-pro');

body {
    font-family: 'Myriad Pro', sans-serif !important;
}

.my-del-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.my-page {
    min-height:100vh;
    width: 100%;
    position: relative;
}

.my-lang-button {
    transition-duration: 0.15s;
}

.my-lang-button:hover {
    cursor: pointer;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.my-lang-button-active {
    color: #605f5f;
}

.my-align-header-items-middle {
    display: flex;
    align-items: center;
}

.my-header-background {
    background-color: #c2c5c6;
}

.my-geo-buttons {
    font-weight: bold;
}

.geo-button {
    height: 100%;
    width: 12.5%;
    transition-duration: 0.5s;
}

.geo-button:hover {
    width: 50%;
}

.geo-button:not(.geo-button:hover) {
    width: 12.5% !important;
    font-size: 0;
}

.geo-button-active {
    height: 100%;
    width: 28.5%;
}

a.geo-button-clickable {
    display: flex;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

a.geo-button-clickable:hover {
    color: white;
}

.my-menu-buttons {
    color: #605f5f;
    font-size: 100%;
    font-weight: bold;
    padding-top: 38pt;
}

.my-main-wave {
    margin-left: -12px;
    height: 150pt;
}

.nav-item > a:link, .nav-item > a:visited {
    color: #605f5f
}

.nav-item > a:hover {
    color: #ffffff
}

.nav-item > a:active {
    color: #ffffff
}

.about-title {
    font-size: 23pt;
    font-weight: bold;
}

.about-title-name{
    color: #066666
}

.about-title-description {
    color: #339191
}

.about-text {
    color: #959696;
    font-size: 18pt;
    line-height: normal;
    text-align: justify;
}

.geo-name-xs {
    padding-top: 10px;
    text-align: center;
}

.my-arrows {
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-wave {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.page-title-text {
    text-align: center;
    font-weight: bold;
    font-size: 120%
}
.my-about-project-page-title {
    background-color: #afb3b4;
}
.my-schedule-page-title {
    background-color: #4b989a;
}

.about-first-para-text {
    padding-top: 100px;
    font-size: 18pt;
    text-align: justify;
}

.about-second-para {
    padding-left: 40px;
}

.about-second-para-title {
    font-weight: bold;
    font-size: 20pt;
}

.about-second-para-text {
    font-size: 18pt;
    text-align: justify !important;
}

.events-hint {
    text-align: right;
    color: #afb3b4;
    font-size: 20pt;
}

.events-time-text {
    font-size: 20pt;
    color: #afb3b4;
    cursor: pointer;
    justify-content: space-between;
    transition-duration: 0.5s;
}

.month-scroll.month-scroll-active {
    color: #4b989a;
    font-weight: bold;
}

.month-scroll {
    transition-duration: 0.5s;
    color: #afb3b4;
    text-decoration: none;

}

.month-scroll:hover {
    color: #4b989a;
}

.events-hint {
    align-items: center;
    justify-content: end;
}

.events-geo-name {
    font-weight: bold;
    font-size: 30pt;
    align-items: center;
    color: #4b989a;
}

.events-project-title {
    font-weight: bold;
    font-size: 20pt;
    align-items: center;
    color: #4b989a;
}

.events-project-description {
    font-size: 20pt;
    text-align: justify;
}

.events-event-title {
    font-size: 20pt;
}

.events-event-title-date {
    font-weight: bold;
    color: #4b989a;
}

.events-event-title-title {
    font-weight: bold;
}

.events-event-description {
    font-size: 16pt;
}

.events-event-description-time {
    font-weight: bold;
    color: #afb3b4;
    text-align: right;
}

.events-event-empty-row {
    height: 30px;
}

#topHeader {
    height: 45pt;
}

#bottomHeader {
    height: 94pt;
}

#archive {
    color: white;
    font-size: 100%;
}

#geolocations {
    color: black;
    /*background-color: #339191;*/
    font-size: 100%;
    display: flex;
}

#languages {
    font-size: 100%;
    font-weight: bold;
    color: #9b9b9b;
}

#logo {
    padding-left: 0;
    padding-right: 0;
    padding-top: 38pt;
}

#ruButton {
    padding-right: 10px;
    padding-left: 20px;
}

#enButton {
    padding-right: 0;
    padding-left: 10px;
}

#imgPersGalstuk {
    padding-top: 20px;

}

#imgKettle {
    width: 100%;
    height: 330px;
    object-fit: none;
    background-size: cover;
    object-position: 0 -100px;
    padding-left: 100px;
}

#imgPersKudr {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -10px 0;
    padding-bottom: 100px;
    transform: scale(1.6);
}

#imgPersSharf {
    padding-top: 120px;
    padding-left: 50px;
    transform: scale(1.5);
}

#imgPersGirlOne {
    padding-left: 100px;
}

#imgPersGirlTwo {
    padding-left: 70px;
    padding-top: 100px;
    transform: scale(0.8);
}

#imgPersGlasses {
    width: 100%;
    height: 50%;
    object-fit: scale-down;
}

@media screen and (max-width: 575px) {
    #logo {
        text-align: center;
        padding-top: 25pt;
    }

    #topHeader {
        display: none;
    }

    .events-time-text {
        font-size: 16pt;
    }
    .my-menu-buttons {
        display: flex;
        background-color: #c2c5c6;
        justify-content: center;
        height: 60px;
        padding-top: 0;
    }

    .navbar-nav > li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .about {
        padding-top: 50px;
    }

    .about-title {
        font-size: 22pt;
        text-align: center;
    }

    .about-text {
        font-size: 15pt;
    }

    .about-first-para-text {
        padding-top: 0;
    }

    .about-second-para {
        padding-left: 0;
    }

    .about-second-para-text {
        padding-top: 20pt;
    }

    .my-del-padding {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .about-second-para-text {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .about-second-para-title {
        text-align: center !important;
    }
}

@media screen and (max-width: 650px) {
    .geo-button {
        font-size: 0.8em;
    }

    .events-event-description-time {
        padding-left: 12px;
    }

    .events-event-title {
        font-size: 16pt;
    }
}

@media screen and (min-width: 576px) {
    .my-menu-buttons {
        font-size: 85%;
    }

    .navbar-nav > li{
        margin-left:5px;
        margin-right:5px;
    }

    .about-text {
        font-size: 15pt;
    }


}

@media screen and (min-width: 768px) {
    .navbar-nav > li{
        margin-left:10px;
        margin-right:10px;
    }

    .about-text {
        font-size: 17pt;
    }
}

@media screen and (min-width: 992px) {
    .navbar-nav > li{
        margin-left:35px;
        margin-right:35px;
    }
}

@media screen and (min-width: 1280px){
    .navbar-nav > li{
        margin-left:50px;
        margin-right:50px;
    }
}

@media screen and (max-width: 1280px){
    #imgPersSharf {
        transform: scale(1);
    }
}

@media screen and (min-width: 1600px){
    .navbar-nav > li{
        margin-left:85px;
        margin-right:85px;
    }
}

@media screen and (min-width: 1920px){
    .navbar-nav > li{
        margin-left:100px;
        margin-right:100px;
    }
}

@media screen and (min-width: 2560px) and (max-width: 3840px){
    .navbar-nav > li{
        margin-left:150px;
        margin-right:150px;
    }
}