{{> head}}

<body onload="onload();">
    {{> proposeProject}}
    {{> proposeEvent}}
    {{> proposeProblem}}
    {{> titlePage}}
    {{> aboutPage}}
    {{> eventsPage}}
    {{> problemPage}}
    {{{ body }}}
</body>

</html>